<div class="projectRow">
	<h3 class="projectTitle">▪▪▪ DEV ▪▪▪</h3>
	<div data-bind="with: dev" class="row">
		<div data-bind="with: frontend" class="col-sm-6 col-md-6 col-lg-6">
			<div class="well">
				<h4 class="buildTitle text-cutoff">Maverick</h4>
				<h2 data-bind="text: text, css: { 'status-Success': isRunning, 'status-Failure': !isRunning }" class="status-None text-cutoff">Unknown</h2>
				<p class="buildInfo text-cutoff"></p>
				<p class="buildInfoBranch text-cutoff">
					Monitoring the <span class="buildInfoHighlight">login page</span>
				</p>

			</div>
		</div>
		<div data-bind="with: backend" class="col-sm-6 col-md-6 col-lg-6">
			<div class="well">
				<h4 class="buildTitle text-cutoff">REST API</h4>
				<h2 data-bind="text: text, css: { 'status-Success': isRunning, 'status-Failure': !isRunning }" class="status-None text-cutoff">Unknown</h2>
				<p class="buildInfo text-cutoff"></p>
				<p class="buildInfoBranch text-cutoff">
					Monitoring the <span class="buildInfoHighlight">health check</span> endpoint
				</p>
			</div>
		</div>
	</div>
</div>
<div class="projectRow">
	<h3 class="projectTitle">▪▪▪ STAGE ▪▪▪</h3>
	<div data-bind="with: stage" class="row">
		<div data-bind="with: frontend" class="col-sm-6 col-md-6 col-lg-6">
			<div class="well">
				<h4 class="buildTitle text-cutoff">Maverick</h4>
				<h2 data-bind="text: text, css: { 'status-Success': isRunning, 'status-Failure': !isRunning }" class="status-None text-cutoff">Unknown</h2>
				<p class="buildInfo text-cutoff"></p>
				<p class="buildInfoBranch text-cutoff">
					Monitoring the <span class="buildInfoHighlight">login page</span>
				</p>
			</div>
		</div>
		<div data-bind="with: backend" class="col-sm-6 col-md-6 col-lg-6">
			<div class="well">
				<h4 class="buildTitle text-cutoff">REST API</h4>
				<h2 data-bind="text: text, css: { 'status-Success': isRunning, 'status-Failure': !isRunning }" class="status-None text-cutoff">Unknown</h2>
				<p class="buildInfo text-cutoff"></p>
				<p class="buildInfoBranch text-cutoff">
					Monitoring the <span class="buildInfoHighlight">health check</span> endpoint
				</p>
			</div>
		</div>
	</div>
</div>